<launch>

    <node pkg="calib_charuco" name="calib_charuco" type="calib_charuco_node" output="screen">
        <remap from="image" to="main_camera/image_raw"/>
        <param name="square_length" value="0.021309895833333332" />
        <param name="marker_length" value="0.0127859375"/>
    </node>

</launch>
